@import "../../assets/styles/mixins";
@import "../../assets/styles/var";
.HighQuality{
  position: fixed; left: 0; right: 0; top: 0; bottom: 0;
  background-color: #ffffff;
  padding-top: 45px;
  .scroll{
    height: 100%;overflow: hidden;
  }
  .head{
    height: 3.2rem; background-color: #5714ce; position: relative;
    padding: 0 0.2rem; overflow: hidden;
    .headBg{
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50%;
      -webkit-filter: blur(20px);
      filter: blur(20px);
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
      .abs;
      &:before{
        .abs;
        z-index: 1;
        content: " ";
        background-color: rgba(0,0,0,.25);
      }
    }
    .headBox{
      position: relative; z-index: 1; width: 100%;
      .left{
        width: 2.2rem; height: 2.2rem; margin-right: 0.2rem;
        img{
          width: 100%; height: 100%;
        }
      }
      .right{
        color: #ffffff;
        h3{
          margin-bottom: 0.3rem; font-size: 0.36rem;
          i{
            color: #ffea00; font-size: 0.4rem; margin-right: 0.1rem;
          }
        }
        p{
          margin-bottom: 0.1rem;
          &:nth-child(2){
            font-size: 0.24rem; color: @base_gray_text;
          }
        }
      }
    }

  }
  .select{
    padding: 0.4rem 0.2rem;
    .left{
      a{
        padding: 2px 0.3rem; border: 1px solid @base_border_color;
        border-radius: 0.4rem;
      }
    }
    .right{
      a:not(:last-child){
        margin-right: 0.2rem;
      }
      a.active{
        color: @base_red_color;
      }
    }
  }
  .HighQualityList{
    padding: 0 0.2rem;
  }
}


.am-slide-right-enter,
.am-slide-right-appear {
  -webkit-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  transform: translate(100%, 0);
}
.am-slide-right-enter,
.am-slide-right-appear,
.am-slide-right-leave {
  -webkit-animation-duration: .2s;
  animation-duration: .2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
.am-slide-right-enter.am-slide-right-enter-active,
.am-slide-right-appear.am-slide-right-appear-active {
  -webkit-animation-name: amSlideRightIn;
  animation-name: amSlideRightIn;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}
.am-slide-right-leave.am-slide-right-leave-active {
  -webkit-animation-name: amSlideRightOut;
  animation-name: amSlideRightOut;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}
@keyframes amSlideRightIn {
  0% {
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes amSlideRightOut {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }
}