@import "../../assets/styles/var";
@import "../../assets/styles/mixins";
.setting{
  background-color: @base_background_color;
  .setting-head{
    background-color: #ffffff; margin-bottom: 0.2rem;
    .setting-head-top{
      padding: 0.3rem 0.2rem; position: relative;
      &:after{
        .bottom-line()
      }
      .left{
        .avatar{
          width: 1.2rem; height: 1.2rem; margin-right: 0.2rem;
          img{
            width: 100%; height: 100%; border-radius: 50%;
          }
        }
        .nickname{
          p{
            font-size: 0.32rem; margin-bottom: 0.1rem;
          }
          div{
            color: @base_gray_text; font-size: 0.23rem;
            margin-bottom: 0.1rem;
          }
          a{
            font-size: 0.2rem; color: @base_gray_text;
          }
        }
      }
      .right{
        font-size: 0.24rem;
        a{
          padding: 6px 10px;
          &.noSign{
            color: @base_red_color;
            border-color: @base_red_color;

          }
        }
      }
    }
    .setting-head-bottom{
      padding:0.2rem 0;
      .setting-menu{
        flex: 1; text-align: center;
        position: relative;
        h3{
          font-size: 0.24rem;
          color: @base_gray_text;
        }
        .icon-edit{
          font-size: 0.4rem;
        }
        span{
          position: absolute;
          width: 8px; height: 8px;
          border-radius: 50%;
          background-color: @base_red_color;
          left: 50%;
          margin-left: 0.2rem;
        }
      }
    }
  }

  .setting-item-warp{
    .am-list-body{
      background: none;
    }
    .setting-item{
      .marginBtm20();
      .iconfont{
        font-size: 0.42rem; color: @base_gray_text;
      }
    }
  }
}