@import "../../../assets/styles/var";
.search{
  //padding: 0.2rem 0.3rem;
  .am-search{
    background: none;
  }
  .am-search-input{
    background-color: rgba(255,255,255, .2);
    height: 32px;
  }
  .am-search-input .am-search-synthetic-ph-placeholder{
    color: rgba(255,255,255,0.5);
  }
  .am-search-cancel{
    color: #ffffff;
  }
  .am-search-input input[type="search"]{
    color: #ffffff; height: 32px;
  }
  .am-search-input .am-search-synthetic-ph-icon{
    background-image: url("../../../assets/images/search.png");
    width: 32px; height: 32px; background-size: cover;
    vertical-align: middle;
  }
  .am-search.am-search-start .am-search-input input[type="search"]{
    padding-left: 50px;
  }
  .am-search-input .am-search-synthetic-ph{
    height: 32px; line-height: 32px;
  }
}