@import "../../assets/styles/mixins";
@import "../../assets/styles/var";
.songList{
  position: fixed;
  left: 0; right: 0; top: 0; bottom: 0;
  overflow: hidden; z-index: 1000;
  background-color: #ffffff;
}
.top{
  position: relative; z-index: 1;
}
.wrapper{
  position: absolute;
  width: 100%; background-color: #ffffff;
  z-index: 100;
}
.songList_head{
  padding: 1.2rem 0.2rem 0.4rem 0.3rem;
  position: relative; overflow: hidden;
  .songList_head_bg{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    -webkit-filter: blur(20px);
    filter: blur(20px);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    .abs;
    &:before{
      .abs;
      z-index: 1;
      content: " ";
      background-color: rgba(0,0,0,.25);
    }
  }
  .songList_head_text{
    position: relative; margin-bottom: 0.4rem;
    .left{
      width: 2.52rem; height: 2.52rem;
      position: relative;
      img{
        width: 100%; height: 100%;
      }
      .left-icon{
        position: absolute;
        z-index: 3;
        top: 10px;
        left: 0;
        padding: 0 8px;
        height: 17px;
        color: #fff;
        font-size: 9px;
        text-align: center;
        line-height: 17px;
        background-color: rgba(217,48,48,.8);
        border-top-right-radius: 17px;
        border-bottom-right-radius: 17px;
      }
      .left-num{
        position: absolute;
        right: 2px;
        top: 0;
        padding-left: 15px;
        color: #fff;
        font-size: 0.24rem;
        text-shadow: 1px 0 0 rgba(0,0,0,.15);
        i{
          font-size: 0.4rem; vertical-align: middle;
        }
        em{
          vertical-align: middle;
        }
      }
    }
    .right{
      padding: 0.4rem;
      h3{
        color: #ffffff; font-size: 0.3rem;
        text-shadow: 1px 0 0 rgba(0,0,0,.15);
        margin-bottom: 0.4rem;
      }
      p{
        img{
          width: 0.6rem; height: 0.6rem;
          border-radius: 50%; vertical-align: middle;
        }
        span{
          vertical-align: middle;
          color: rgba(255,255,255,0.8); margin-left: 0.1rem;
        }
      }
    }
  }
  .songList_head_menu{
    position: relative; color: #ffffff;
    .menu-item{
      text-align: center;
      i{
        font-size: 0.5rem;
      }
      p{
        font-size: 0.24rem;
      }
    }
  }
}
.songList_intro{
  padding: 0.2rem 0.3rem; background-color: #ffffff;
  position: relative;
  &:after{
    .bottom-line()
  }
  .songList_intro_tag{
    margin-bottom: 0.3rem;
    span{
      font-size: 0.28rem;
    }
    a{
      display: inline-block;
      margin-right: 10px;
      padding: 3px 8px;
      font-size: 12px;
      position: relative;
      &:after{
        .border;
        border-radius: 16px;
      }
    }
  }
}

.songList_list{
  .songList_list_item{
    padding: 0 0.3rem;
    &:before{
      content:" "attr(index)" ";
      font-size: 0.32rem; color: @base_gray_text;
      margin-right: 0.3rem;
    }
    .left{
      position: relative; padding: 0.2rem 0;
      &:after{
        .bottom-line();
      }
      h3{
        font-size: 0.34rem; margin-bottom: 0.1rem;
        max-width: 80%;
        .ellipsis;
      }
      p{
        font-size: 12px;
        color: @base_gray_text;
      }
      .icon{
        position: absolute; right: 0;
        transform: translateY(-50%); top: 50%;
        i{
          font-size: 0.45rem;
        }
      }
    }
  }
}

.play_all{
  height: 0.9rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  //overflow: hidden;
  line-height: 0.9rem;
  position: relative;
  &:after{
    .bottom-line()
  }
  .left{
    padding-left: 0.3rem;
  }
  .right{
    background-color: #d33a31;
    width: 2rem; color: #ffffff;
    text-align: center;
    z-index: 10;
    position: relative;
  }
}

.bg-layer{
  position: relative;
  height: 100%;
  background: #ffffff;
  z-index: 100;
}