.home{
    height: 100vh; position: relative;
    .red-bg{
        background-color: #d94036; height: 30vh;
        position: absolute; left: 0; right: 0; top: 0;
    }
    .scroll-warp{
        position: absolute; left: 0; top: 0; right: 0; bottom: 0;
    }
}
.tab-warp{
    .slider-item{
        height: 18vh; background-color: #fff; padding: 0 15px;
        box-sizing: border-box;
    }
    .slider-item-inner{
        background-color: aqua; height: 100%;
    }
}
